body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 300px;
    padding: 20px;
    background-color: #f4f8fcef;
    box-shadow: 0px 0px 10px rgba(79, 73, 73, 0.619);
    border-radius: 8px;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #53b0d8;
    border-radius: 4px;
    box-sizing: border-box;
}
.container button {
    background-color: #53b0d8;
    color: white;
    border: none;
    cursor: pointer;
}
.container button:hover {
    background-color: #53b0d8;
}
.password-container {
    position: relative;
}
.password-container input {
    padding-right: 40px;
}
.password-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.google-login {
    background-color: #db4437;
    color: white;
}
.switch-link {
    text-align: center;
    margin-top: 10px;
    color: #555;
}
.switch-link a {
    color: #d81d20;
    text-decoration: none;
}
.switch-link a:hover {
    text-decoration: underline;
}
